body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa; /* Color de fondo claro */
  color: #343a40; /* Color de texto oscuro */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
.header {
  background-color: #8B4513 !important; /* Color café */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #FFD700 !important;
}

.nav-link {
  color: white !important;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #FFD700 !important;
}

.social-icons a {
  color: white;
  font-size: 1.5rem;
  margin-left: 15px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #FFD700;
}

/* Main Content */
.main-content {
  flex: 1;
}

.hero-section {
  background-color: #F5F5DC; /* Color crema */
}

.hero-section h1 {
  color: #555;
}

.cta-button {
  background-color: #FFD700 !important;
  border-color: #FFD700 !important;
  color: #343a40;
}

.cta-button:hover {
  background-color: #e6c800 !important;
  border-color: #e6c800 !important;
}

.text-brown {
  color: #8B4513 !important;
}

.product-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}